section#footer.section.py-5.bg-dark
    div.container.position-relative
        h3.font-weight-bold.mb-2 #{footertitle}
        div.section-intro.mx-auto.mb-3 #{footerdesc}
        div.text-center
            a.theme-btn-on-bg.btn(href="contact.htmlLet's") Talk            
        div.text-center.mt-3
            img(src="/images/favicon.png" width="32px")
    div.space.stars1
    div.space.stars2