section#footer.section.py-5.bg-dark
    div.container.position-relative
        h3.font-weight-bold.mb-2 Interested in hiring me for your project?
        div.section-intro.mx-auto.text-center.mb-3 Looking for an experienced full-stack developer to build your web app or ship your software product? To start an initial chat, just drop me an email
        div.text-center
            a.theme-btn-on-bg.btn(href="contact.htmlLet's") Talk            
        div.text-center.mt-3
            img(src="/images/favicon.png" width="32px")
    div.space.stars1
    div.space.stars2