#frontpage {

    #header {
        padding: 7em 0 12em 0;
        background-image: url(/img/banner.jpg);
        background-size: cover;
        background-position: center top;
        background-repeat: no-repeat;
        text-align: center;
        height: 20rem;
    }
    @media (min-width: 992px) {
        .main-text {
            max-width: 300px;
        }
    }

    section#one:target {
        padding-top: 4rem;
    }

    .cite {
        padding: 6rem 0 4rem;
        background: $bg-cite;
        color: $color-cite;
    }

    #ngr .card {
        flex-grow: 1;
        flex-basis: 200px;
    }
}
