.theme-bg-light {
    background: #fff9f3 !important;
}

.theme-bg-light-gradient {
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,249,243,1) 30%);
}

h1.name {
    font-size: 3rem;
}

.profile-teaser .tagline {
    font-size: 1.5rem;
    font-weight: 300;
    color: #515151;
}

/** About me section */
.about-me-section .profile-image {
    clip-path: polygon(50% 0%, 83% 12%, 100% 43%, 94% 78%, 68% 100%, 32% 100%, 6% 78%, 0% 43%, 17% 12%);
    width: 100%;
    max-width: 350px;
}

h3.section-title {
    font-size: 2rem;
}

.section-title {
    position: relative;
    padding-left: 1.5rem;
}


.section-title:before {
    content: "";
    display: inline-block;
    width: 5px;
    height: 100%;
    background: var(--bs-orange);
    position: absolute;
    left: 0;
    top: 0;
}

/** Skills Section */

.skills-icon-holder {
    width: 80px;
    height: 80px;
    padding-top: 1.25rem;
    bottom: 30px;
    left: 50%;
    margin-left: -40px;
}

.skills-block {
    max-width: 350px;
}

.skills-list {
    font-weight: lighter;
    text-align: left;
}

.skills-block {
    position: relative;
    min-width: 320px;
    height: 440px;
    box-shadow: inset 2px 5px 5px rgba(0, 0, 0, 0.1),
        inset -2px -5px 15px rgba(255, 255, 255, 0.5),
        2px 5px 15px rgba(0, 0, 0, 0.15), 
        -2px -5px 15px rgba(255, 255, 255, 0.05);
    border-radius: 15px;
    margin: 30px;
    transition: 0.5s;
}

.skills-block:nth-child(1) .box .content i {
    color: #2196f3;
}

.skills-block:nth-child(1) .box .content .skills-icon-holder {
    background-color: #2196f3;
}

.skills-block:nth-child(2) .box .content i {
    color: #e91e63;
}

.skills-block:nth-child(2) .box .content .skills-icon-holder {
    background-color: #e91e63;
}

.skills-block:nth-child(3) .box .content i {
    color: #23c186;
}

.skills-block:nth-child(3) .box .content .skills-icon-holder {
    background-color: #23c186;
}

.skills-block .box {
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    background: #e5e5e5;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    overflow: hidden;
    transition: 0.5s;
}

.skills-block .box:hover {
    transform: translateY(-50px);
}

.skills-block .box:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: rgba(0, 0, 0, 0.03);
}

.skills-block .box .content {
    padding: 20px;
    text-align: center;
}

.skills-block .box .content h2 {
    position: absolute;
    top: -10px;
    right: 30px;
    font-size: 8rem;
    color: rgba(255, 255, 255, 0.1);
}

.skills-block .box .content h3 {
    font-size: 1.8rem;
    color: #fff;
    z-index: 1;
    transition: 0.5s;
    margin-bottom: 15px;
}

.skills-block .box .content p {
    font-size: 1rem;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.9);
    z-index: 1;
    transition: 0.5s;
}

.skills-block .box .content a {
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    background: black;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    margin-top: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
}

.skills-block .box .content a:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
    background: #fff;
    color: #000;
}

/** Clients */

.fa-js-square {
    color: #F1DE4F;
}

.fa-vuejs,
.fa-node-js {
    color: #64B687;
}

.fa-css3-alt {
    color: #53A7DC;
}

.fa-sass {
    color: #BF6B97;
}

.fa-php {
    color: #777BAF;
}

.fa-html5 {
    color: #DE6E3C;
}

svg:not(:root).svg-inline--fa {
    overflow: visible;
}

.svg-inline--fa.fa-w-14 {
    width: 2rem;
}

.svg-inline--fa {
    display: inline-block;
    font-size: inherit;
    height: 2rem;
    overflow: visible;
    vertical-align: -0.125rem;
}

.logo-link img {
    height: 64px;
    transition: all ease-in-out 300ms;
}

.logo-link img:hover {
    opacity: .8;
}

.item-title {
    font-size: 1rem;
    color: #292929;
    font-weight: bold;
}


/** Cards */
section.section-proof .attribution { 
    font-size: 11px; text-align: center; 
}

section.section-proof .attribution a { 
    color: hsl(228, 45%, 44%); 
}

section.section-proof .box {
    border-radius: 5px;
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(255,249,243,1) 35%, rgba(255,255,255,1) 100%);
    box-shadow: 0px 30px 40px -20px var(--grayishBlue);
    padding: 30px;
    margin: 20px;  
}

section.section-proof .box img,
section.section-proof .box svg {
    float: right;
}

section.section-proof .box h5 {
    font-weight: bold;
}

@media (max-width: 450px) {
    section.section-proof .box {
        height: 200px;
    }
}

@media (max-width: 950px) and (min-width: 450px) {
    section.section-proof .box {
        text-align: center;
        height: 180px;
    }
}

section.section-proof .php {
    border-top: 3px solid #777BAF;
}
section.section-proof .javascript {
    border-top: 3px solid rgb(252, 220, 0);
}
section.section-proof .postgres {
    border-top: 3px solid #336791;
}
section.section-proof .html {
    border-top: 3px solid var(--bs-orange);
}

section.section-proof h2 {
    color: var(--varyDarkBlue);
    font-weight: var(--weight3);
}


@media (min-width: 950px) {
    section.section-proof .row1-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    section.section-proof .row2-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    section.section-proof .box-down {
        position: relative;
        top: 150px;
    }
    section.section-proof .box {
        width: 100%;
        max-width: 350px;     
    }    
}

/** Talks */
.talks-icon-holder {
    background: var(--bs-orange);
    width: 80px;
    height: 80px;
    padding-top: 1.25rem;
    top: -40px;
    left: 50%;
    margin-left: -40px;
}

.talks-block {
    max-width: 450px;
}

.talks-block .talk-year {
    position: absolute;
    left: 0;
    top: -15px;
    color: #fff;
    background-color: var(--purple);
}

.talks-block .talk-where {
    position: absolute;
    right: 0;
    top: -15px;
    height: 40px;
    background-color: red;
    border-radius: 20px;
    width: 40px;
}

.talks-block .talk-where i {
    margin-top: 0.17rem;
}

#cite {
    min-height: 275px;
    height: 100%;
}

#cite .inner{
    z-index: 100;
    position: relative;
    margin-top: 4rem;
}

#cite blockquote {
    font-size: 1.5rem;
    font-weight: lighter;
    font-style: italic;
}

#cite .author {
    font-size: 1rem;
    font-weight: lighter;
    text-align: left;
    font-style: normal;
}

@keyframes move_wave {
    0% {
        transform: translateX(0) translateZ(0) scaleY(1)
    }
    50% {
        transform: translateX(-25%) translateZ(0) scaleY(0.55)
    }
    100% {
        transform: translateX(-50%) translateZ(0) scaleY(1)
    }
}

.waveWrapper {
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: -1px;
    margin: auto;
}

.waveWrapperInner {
    position: absolute;
    width: 100%;
    overflow: hidden;
    height: 100%;
    bottom: -1px;
    background-image: linear-gradient(to bottom, var(--bs-orange) 20%, #32194a 80%);
}

.bgTop {
    z-index: 15;
    opacity: 0.5;
}

.bgMiddle {
    z-index: 10;
    opacity: 0.75;
}

.bgBottom {
    z-index: 5;
}

.wave {
    position: absolute;
    left: 0;
    width: 200%;
    height: 100%;
    background-repeat: repeat no-repeat;
    background-position: 0 bottom;
    transform-origin: center bottom;
}

.waveTop {
    background-size: 50% 100px;
}

.waveAnimation .waveTop {
  animation: move-wave 30s;
   -webkit-animation: move-wave 30s;
   -webkit-animation-delay: 10s;
   animation-delay: 10s;
}

.waveMiddle {
    background-size: 50% 120px;
}

.waveAnimation .waveMiddle {
    animation: move_wave 30s linear infinite;
}

.waveBottom {
    background-size: 50% 100px;
}

.waveAnimation .waveBottom {
    animation: move_wave 40s linear infinite;
}