*, 
body {
    font-family: "Lato";
}

:root {
    --purple: #663399;
    --eletricpurple: #8c14fc;
    --lightpurple:#e3c4ff;
    --darkpurple: #130028;
    --varyDarkBlue: hsl(234, 12%, 34%);
    --grayishBlue: hsl(229, 6%, 66%);
    --veryLightGray: hsl(0, 0%, 98%);
    --weight1: 200;
    --weight2: 400;
    --weight3: 600;
}

#root {
    min-height: calc(100vh - 300px);
}

.btn-secondary {
    background-color: var(--purple);
    border-color: var(--eletricpurple);
}

.no-text-decoration {
    text-decoration: none;
}

.view {
    margin-left: 280px;
}

@media (max-width: 990px) {
    #root {
        top: 60px;
        position: relative;
    }

    .view {
        margin-left: 0;
    }

    .btn-outline-primary {
        max-width: 250px;
        white-space: normal;
    }
}