*, 
body {
    font-family: "Lato";
}

:root {
    --purple: #663399;
    --eletricpurple: #8c14fc;
    --darkpurple: #130028;
    --varyDarkBlue: hsl(234, 12%, 34%);
    --grayishBlue: hsl(229, 6%, 66%);
    --veryLightGray: hsl(0, 0%, 98%);
    --weight1: 200;
    --weight2: 400;
    --weight3: 600;
}

.btn-secondary {
    background-color: var(--purple);
    border-color: var(--eletricpurple);
}

.no-text-decoration {
    text-decoration: none;
}

.view {
    margin-left: 280px;
}

