*, 
body {
    font-family: "Lato";
}

:root {
    --purple: #663399;
    --eletricpurple: #8c14fc;
    --darkpurple: #1e0156;
}

.btn-secondary {
    background-color: var(--purple);
    border-color: var(--eletricpurple);
}

.no-text-decoration {
    text-decoration: none;
}

.view {
    margin-left: 280px;
}

