section.about-me-section.p-3.p-lg-5
    div.container
        div.profile-teaser.row
            div.col
                h2.name.font-weight-bold.mb-1 Rodrigo Mady
                div.tagline.mb-3 Software Engineer
                div.bio.mb-4 I'm a software engineer specialised in frontend and backend development for complex scalable web apps. I write about software development on 
                    a.text-link(href="blog-home.html") my blog
                    span . Want to know how I may help your project? Check out my project 
                    a.text-link(href="projects.html") portfolio 
                    span and 
                    a.text-link(href="resume.html") online resume
                    span .
                div.mb-4
                    a.btn.btn-primary.me-2.mb-3(href="portfolio.html")
                        i.fa.fa-code.text-light
                        span.ml-2 Portfolio
                    a.btn.btn-secondary.mb-3(href="resume.html")
                        i.fa.fa-file-code-o.text-light
                        span.ml-2 Resume 
            div.col-md-5.col-lg-5
                img.profile-image.img-fluid.mb-3.mb-lg-0.me-md-0(src="/images/profile2.jpg")