section.skills-section.section.py-5.theme-bg-light
    div.container
        h3.section-title.font-weight-bold.mb-3 #{skills}
        div.section-intro.mx-auto.mb-5 #{skillsdescription}
        div.skills-blocks.mx-auto.pt-5
            div.row.justify-content-evenly

                div.skills-block.col-12.col-lg-4.mb-5.mb-3.mb-lg-0.bg-white.shadow-sm
                    div.skills-block-inner.py-4.px-5.position-relative
                        h4.skills-cat.text-center.mb-3.mt-5 Backend
                        div.skills-icon-holder.position-absolute.d-inline-block.rounded-circle.text-center
                            img.skills-icon(src="/images/backend-icon.svg")
                        
                        ul.skills-list.list-unstyled
                            li.mb-2
                                i.fa.fa-check.me-2.text-primary 
                                span Moodle                    
                            li.mb-2
                                i.fa.fa-check.me-2.text-primary 
                                span PHP & Laravel
                            li.mb-2
                                i.fa.fa-check.me-2.text-primary 
                                span Node.js                                
                            li.mb-2
                                i.fa.fa-check.me-2.text-primary 
                                span Web services RESTful
                            li.mb-2
                                i.fa.fa-check.me-2.text-primary 
                                span PostgreSQL & MySQL
                
                div.skills-block.col-12.col-lg-4.mb-5.mb-3.mb-lg-0.bg-white.shadow-sm
                    div.skills-block-inner.py-4.px-5.position-relative
                        h4.skills-cat.text-center.mb-3.mt-5 Frontend
                        div.skills-icon-holder.position-absolute.d-inline-block.rounded-circle.text-center
                            img.skills-icon(src="/images/frontend-icon.svg")
                        
                        ul.skills-list.list-unstyled
                            li.mb-2
                                i.fa.fa-check.me-2.text-primary 
                                span JavaScript, jQuery & Ajax
                            li.mb-2
                                i.fa.fa-check.me-2.text-primary 
                                span HTML5, CSS & Sass		
                            li.mb-2
                                i.fa.fa-check.me-2.text-primary
                                span Vue.js & React				        
                            li.mb-2
                                i.fa.fa-check.me-2.text-primary 
                                span Grunt                            
                
                div.skills-block.col-12.col-lg-4.bg-white.shadow-sm
                    div.skills-block-inner.py-4.px-5.position-relative
                        h4.skills-cat.text-center.mb-3.mt-5 #{others}
                        div.skills-icon-holder.position-absolute.d-inline-block.rounded-circle.text-center
                            img.skills-icon(src="/images/other-skills-icon.svg")
                        
                        ul.skills-list.list-unstyled
                            li.mb-2
                                i.fa.fa-check.me-2.text-primary 
                                span Unit Testing
                            li.mb-2
                                i.fa.fa-check.me-2.text-primary 
                                span Gannt, Astah, Pencil & Bizagi
                            li.mb-2
                                i.fa.fa-check.me-2.text-primary 
                                span Vagrant
                            li.mb-2
                                i.fa.fa-check.me-2.text-primary 
                                span Jenkins, Gitlab & Github
                