section.skills-section.section.py-5.theme-bg-light
    div.container
        h3.section-title.font-weight-bold.mb-3 Skills Overview
        div.section-intro.mx-auto.mb-5.text-secondary I have more than 8 years' experience building rich web applications for clients all over the world. Below is a quick overview of my main technical skill sets and tools I use. Want to find out more about my experience? 
            a.text-link(href="resume.html") Check out my online resume.
        div.skills-blocks.mx-auto.pt-5
            div.row.justify-content-evenly
                div.skills-block.col-12.col-lg-4.mb-5.mb-3.mb-lg-0.bg-white.shadow-sm
                    div.skills-block-inner.py-4.px-5.position-relative
                        h4.skills-cat.text-center.mb-3.mt-5 Frontend
                        div.skills-icon-holder.position-absolute.d-inline-block.rounded-circle.text-center
                            img.skills-icon(src="/images/frontend-icon.svg")
                        
                        ul.skills-list.list-unstyled.text-secondary
                            li.mb-2
                                i.fa.fa-check.me-2.text-primary 
                                span Javascript
                            li.mb-2
                                i.fa.fa-check.me-2.text-primary 
                                span HTML/CSS/SASS						        
                            li.mb-2
                                i.fa.fa-check.me-2.text-primary 
                                span Grunt
                            li.mb-2
                                i.fa.fa-check.me-2.text-primary
                                span React/Vue.js
                
                div.skills-block.col-12.col-lg-4.mb-5.mb-3.mb-lg-0.bg-white.shadow-sm
                    div.skills-block-inner.py-4.px-5.position-relative
                        h4.skills-cat.text-center.mb-3.mt-5 Backend
                        div.skills-icon-holder.position-absolute.d-inline-block.rounded-circle.text-center
                            img.skills-icon(src="/images/backend-icon.svg")
                        
                        ul.skills-list.list-unstyled.text-secondary
                            li.mb-2
                                i.fa.fa-check.me-2.text-primary 
                                span PHP/Moodle/Laravel
                            li.mb-2
                                i.fa.fa-check.me-2.text-primary 
                                span Node.js	
                            li.mb-2
                                i.fa.fa-check.me-2.text-primary 
                                span PHP
                            li.mb-2
                                i.fa.fa-check.me-2.text-primary 
                                span PostgresSQL/MySQL
                
                div.skills-block.col-12.col-lg-4.bg-white.shadow-sm
                    div.skills-block-inner.py-4.px-5.position-relative
                        h4.skills-cat.text-center.mb-3.mt-5 Others
                        div.skills-icon-holder.position-absolute.d-inline-block.rounded-circle.text-center
                            img.skills-icon(src="/images/other-skills-icon.svg")
                        
                        ul.skills-list.list-unstyled.text-secondary
                            li.mb-2
                                i.fa.fa-check.me-2.text-primary 
                                span Unit Testing
                            li.mb-2
                                i.fa.fa-check.me-2.text-primary 
                                span Vagrant
                            li.mb-2
                                i.fa.fa-check.me-2.text-primary 
                                span Bizagi
                