
section.cite.section.py-5.bg-primary
    div.inner.text-center.text-light
        blockquote "Cada sonho que você deixa pra trás, é um pedaço do futuro que deixa de existir."
        cite.author Steve Jobs

section.talks-section.section.py-5.theme-bg-light
    div.container
        h3.section-title.font-weight-bold.mb-3 Talks
        div.section-intro.mx-auto.mb-5.text-secondary I have more than 8 years' experience building rich web applications for clients all over the world. Below is a quick overview of my main technical skill sets and tools I use. 
        div.talks-blocks.mx-auto.pt-5
            div.row.justify-content-evenly
                div.talks-block.col-12.col-lg-6.mb-5.mb-3.mb-lg-0.bg-white.shadow-sm
                    div.talks-block-inner.py-3.px-5.position-relative
                        h4.talks-cat.text-center.mb-3.mt-5 Latinoware
                        span.talk-year.badge.badge-success 2021
                        span.talk-where.badge
                            i.fa.fa-youtube-play.fa-2x
                        div.talks-icon-holder.position-absolute.d-inline-block.rounded-circle.text-center
                            img.talks-icon(src="/images/frontend-icon.svg")
                        div Moodle Themes - How it provides more convenience for the end-user
                        div.text-center.mt-2
                            a.btn.btn-outline-primary Enjoy
                
                div.talks-block.col-12.col-lg-6.mb-5.mb-3.mb-lg-0.bg-white.shadow-sm
                    div.talks-block-inner.py-3.px-5.position-relative
                        h4.talks-cat.text-center.mb-3.mt-5 MoodleMoot Brazil
                        span.talk-year.badge.badge-success 2021
                        span.talk-where.badge
                            i.fa.fa-youtube-play.fa-2x
                        div.talks-icon-holder.position-absolute.d-inline-block.rounded-circle.text-center
                            img.talks-icon(src="/images/frontend-icon.svg")
                        div How Theme Can Solve Your Problems
                        br
                        div.text-center.mt-2
                            a.btn.btn-outline-primary Enjoy