.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
    margin-bottom: 15px;

    .input-group-text {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding: .375rem .75rem;
        margin-bottom: 0;
        font-size: 1.3rem;
        font-weight: 400;
        line-height: 2;
        color: #495057;
        text-align: center;
        white-space: nowrap;
        background-color: #e9ecef;
        border: 1px solid #ced4da;
        border-radius: .25rem;
    }

    input.form-control {
        display: flex;
        flex: 1 1 auto;
        width: 1%;
        position: relative;
    }


}

#login {
    padding: 2em;

    #bg-login {
        background: white;
        border: 1px solid #dedede;
        border-radius: 2%;
        padding: 2em 1.5em;
    }
}

.bar-header {
    position: absolute;
    height: 4px;
    width: 100%;
    top: 0;
    left: 0;

    .logo-bar {
        position: relative;
        background-color: $primary;
        height: 4px;
        width: 100%;
        z-index: 3;
    }
}