div.container
  h1  #{resume}
    section.section.py-5.p-3.p-lg-5
      div.container
        h2 #{english}
        iframe(src="/docs/2022-curriculo_en.pdf" width="100%" height="700px")

    section.section.py-5.p-3.p-lg-5
      div.container
        h2 #{portuguese}
        iframe(src="/docs/2022-curriculo_pt_br.pdf" width="100%" height="700px")