div.container
  h1 #{title}
    section.section.py-5.p-3.p-lg-5
      div.container
        h2 CV in English
        iframe(src="/docs/2022-curriculo_en.pdf" width="100%" height="700px")

    section.section.py-5.p-3.p-lg-5
      div.container
        h2 CV in Portuguese
        iframe(src="/docs/2022-curriculo_pt_br.pdf" width="100%" height="700px")